html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #121213;
  color: #d7dadc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.tile {
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
}

.confirmedLetters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.presentLetterRow {
  display: flex;
  justify-content: center;
}

.input {
  font-size: 18px;
  width: 58px;
  height: 58px;
  border: 2px solid #3a3a3c;
  background-color: #121213;
  color: #edeff1;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.section {
  margin-top: 30px;
}

.potentialWord {
  display: flex;
  justify-content: left;
}

button[data-state='eliminated'] {
    background-color: #3a3a3c;
    color: #d7dadc;
}

button[data-state='correct'] {
  background-color: #538d4e;
  color: #d7dadc;
}

button[data-state='present'] {
  background-color: #b59f3b;
  color: #d7dadc;
}

.keyboard {
  width: 500px;
}

.keyboardRow {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.presentLetters {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.eliminatedLetters {
  display: flex;
  justify-content: center;
}

.half {
  flex: 0.5;
}

.full {
  flex: 1;
}

button {
  font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #d7dadc;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  
}